# Server
PORT=3000

# Database
# PostgreSQL:
DATABASE_URL="postgresql://USER:PASSWORD@HOST-POOLER.neon.tech/DATABASE?sslmode=require"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DATABASE?sslmode=require"

# JWT
JWT_SECRET="change-this-secret-key-with-at-least-32-characters"